
.addButton
{
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 1px;
    width: 59px;
    border-radius: 60px;
    background-color: #270b34;
    color: #aa9fa5;
    font-size: 63px;
    text-align: center;
    padding-bottom: 70px;
    z-index: 1;

}

.selectStyle 
{
margin-top: 10px;
margin-bottom: 10px;
width: 196px;
height: 41px;
font-size: 20px;
border-radius: 10px;
}

.submitButton
{
background-color: #270b34;
margin-left: 38px;
height: 45px;
width: 120px;
margin-top: 20px;
border-radius: 15px;

color:white;
font-size: 26px;
}

.cancelButton
{
background-color: red;
margin-left: 38px;
height: 45px;
width: 120px;
margin-top: 20px;
border-radius: 15px;


font-size: 26px;
}

.inputText
{
font-size: 15px;
text-align:center;
height: 35px;
border-radius: 10px;
margin-left: 45px;
}