.navbar {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    color: #aa9fa5;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    font-size: 15px;
  }