.map {
    height: 85vh;
    width: 100%;
    z-index: 0;
}

.leaflet-popup-content {
    margin: 10px 10px !important;
}

.leaflet-popup-content-wrapper {
    text-align: center !important;
}

.popup_text_top {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.popup_img {
    margin-bottom: 10px !important;
}

.popup_text_bot {
    font-size: 20px;
}

.popup_text_name {
    font-size: 15px;
    font-weight: bold;
}